{% extends 'base.html' %} {% load static %} {% load humanize %}
<br />
{% block head_title %}National Library{% endblock %} 
<br />

{% block body %} {% if form.non_field_errors %}
<br />
{% for error in form.non_field_errors %}
<div
  class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mt-2"
  role="alert"
>
  <p class="font-bold">Error!</p>
  <p class="block sm:inline">{{ error }}</p>
</div>
{% endfor %} {% endif %}

<div class="container mx-auto mt-8">
  <div
    class="max-w-md mx-auto py-8 px-20 rounded shadow items-center justify-between w-full" style="color: #164863; background-color: #9BBEC8;"
  >
    <h1 class="text-2xl text-center mb-5 font-bold mb-4">
      Change Password
    </h1>

    <form
      method="post"
      class="shadow-md rounded px-5 pt-6 pb-8 mb-4"
      style="color: #164863; background-color: #427D9D;"
    >
      {% csrf_token %} {% for hidden_field in form.hidden_fields %} {{
      hidden_field }} {% endfor %}

      <div class="mb-4">
        <label
          for="{{ form.old_password.id_for_label }}"
          class="block uppercase tracking-wide text-white text-xs font-bold mb-2"
        >
          Old Password:
        </label>
        {{ form.old_password }} {% if form.old_password.errors %}
        <p class="text-red-600 text-sm italic mt-1">
          {{ form.old_password.errors.0 }}
        </p>
        {% endif %}
      </div>

      <div class="mb-4">
        <label
          for="{{ form.new_password1.id_for_label }}"
          class="block uppercase tracking-wide text-white text-xs font-bold mb-2"
        >
          New Password:
        </label>
        {{ form.new_password1 }} {% if form.new_password1.errors %}
        <p class="text-red-600 text-sm italic mt-1">
          {{ form.new_password1.errors.0 }}
        </p>
        {% endif %}
      </div>

      <div class="mb-4">
        <label
          for="{{ form.new_password2.id_for_label }}"
          class="block uppercase tracking-wide text-white text-xs font-bold mb-2"
        >
          Confirm New Password:
        </label>
        {{ form.new_password2 }} {% if form.new_password2.errors %}
        <p class="text-red-600 text-sm italic mt-1">
          {{ form.new_password2.errors.0 }}
        </p>
        {% endif %}
      </div>

      <button
        type="submit"
     class="w-2/4 lg:w-3/4 px-3 m-auto lg:m-0 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline inline-block"
            style="background-color:#164863; color: #DDF2FD;"
            onmouseover="this.style.backgroundColor='#DDF2FD'; this.style.color='#164863';"
            onmouseout="this.style.backgroundColor='#164863'; this.style.color='#DDF2FD';"
      >
        Change Password
      </button>
    </form>
  </div>
</div>
{% endblock %}
